/*========== UNIVERSAL STYLES ==========*/

html {
    -webkit-locale: "en";
}

:root {
    --speechify-primary-color: black;
    font-family: arial;
    transition: none;
}
*, html {
    scroll-behavior: auto !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    display: block;
}

body {
    background-image: url('Images/Mall-background.jpg');
    height: 100vh;
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
}

/*===== HEADER =====*/

header {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
}

.banner img {
    width: 1350px;
    height: 750px;
}

.tabs-top {
    z-index: 1000;
    display: grid;
    grid-auto-flow: column;
    left: 895px;
    position: absolute;
    align-content: center;
    grid-gap: 15px;
    margin-top: 10px;
}
.tabs-top a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    font-family: arial ;
    color: green;
}
.tabs-top a:hover{
    color: grey;
    text-decoration: overline;
}

/*===== FOOTER =====*/

footer{
    width: 100%;
    height: 200px;
    background-color: #131110;
    padding-top: 40px;
    padding-left: 22px;
    clear: both;
}

footer h2{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

footer p{
    text-align: center;
    color: #adadad;
}

footer a{
    color: #adadad;
}

#box1{
    float: left;
    width: 30%;
    padding-right: 30px;
}

#box2{
    float: left;
    width: 30%;
    padding-right: 30px;
}

#box3{
    float: right;
    width: 30%;
    padding-left: 30px;
}

.box3-i {
    float: right;
    padding-right: 150px;
}

.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 100;
}

/*===== COPYRIGHT =====*/

#copyright{
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: #5be47d;
    padding-top: 60px;
    clear: both;
}

#copyright p{
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}

/*========== MENU ==========*/

h2{
    font-family: oswald, serif;
    text-decoration: underline rgb(8, 6, 0);
    text-align: center;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.the-wrapper {
    background-color: rgba(119, 199, 99, 0.562);
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
}
.the-wrapper li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgba(124, 190, 111, 0.671);
    border-radius: 15px;
}
li {
    margin: 20px;
    list-style: none;
    font-size: 22px;
}
a {
    text-decoration: none;
    color: rgb(8, 6, 0);
}
.menu img {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 12px;
}
.menu-container {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
}

.menu-info p{
    text-align: center;
}

.menu-info a:hover{
    color: white;
}

/*========== INDIVIDUAL PAGES ==========*/

.the-wrapper {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
}

.addbtn{
    width: 100px;
    font-size: 15px;
    font-family: cursive;
    background: #72f38e;
    display: block;
    padding: 6px;
    text-align: center;
    margin: 8px 0;
}

.addbtn:hover{
    color: white;
}

/*==========THANK YOU PAGE==========*/

#content p{
    text-align: center;
}

#content img{
    padding-left: 500px;
}